
h1, h2 {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	color: #6B0A1E;
}

h3 {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	color: #6B0A1E;
}

p {
	font-size: 15pt;
	font-family:"E4 Digital Cyrillic", monospace;
	font-style: oblique;
	color: #0D456F
}