
h1, h2 {
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	color: #6B0A1E;
}

h3 {
	font-family: Helvetica, Arial, sans-serif;
	text-align: left;
	color: #6B0A1E;
}

p {
	font-size: 15pt;
	font-family:"E4 Digital Cyrillic", monospace;
	font-style: oblique;
	color: #0D456F
}
body {
	background-color: #E7F2C6;

}
ol {
	font-family: Helvetica, Arial, sans-serif;
	font-style: italic;
	font-size: 14pt;
	color: #53416B;
	list-style-position: inside;
}
ul {
	font-family: Helvetica, Arial, sans-serif;
    font-weight: bolder;
	font-size: 14pt;
	color: #D81A41;
	list-style-position: inside;
}
a {
	font-family: Helvetica, Arial, sans-serif;
	color: #EE521D;
	font-size: 14pt;
}
a:visited {
	text-decoration: line-through;
	color: #DFA366;
}
a:hover {
font-size: 18pt;
}
p:first-letter{
	font-size: 22pt;
    font-style: bolder;
    color: #A51883;
}